table ,th ,td {
    border: 1px solid black 
}

table ,th ,td {
    text-align: center;
}
.goku {
    width: 650px;
}
.h1  {
    text-align: center;
}
.color {
    background-color: rgb(224, 224, 90);
}
.texto {
    font-size: 5mm;
    margin: left,right,top,bottom;
}
.video {
    width: 650px;
    src: url(https://www.youtube.com/watch?v=mbHMwo68zOg);
}