table ,th ,td {
    border: 1px solid black 
}

table ,th ,td {
    text-align: center;
}
.ancho {
    width: 650px;
}
.h1  {
    text-align: center;
}
.color {
    background-color: rgb(224, 224, 90);
}
.texto {
    font-size: 5mm;
    margin: top,bottom;
    padding: 0.10cm;
}
.video {
    width: 650px;
}
.chris {
    background-color: rgb(219, 105, 24);
    font-family: 'Langar', cursive;
font-family: 'Oswald', sans-serif;
}
.leon {
    background-color: dimgrey;
    font-family: 'Langar', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Russo One', sans-serif;
}
.israel {
    background-color: rgb(44, 209, 44);
    font-family: 'Noto Serif JP', serif;
}
.goku {
    font-family: 'Langar', cursive;
    background-color: rgb(224, 224, 90);
}
.In {
    background-color: mediumturquoise;
    list-style: none;
    width: 550px;
    font-size: 20px;
}
a:link{
    text-decoration: none;
}
.In:hover{
    background-color: red;
    font-size: 30px;
}
div style{
    text-align: center;
}
table {
    text-align: center;
}
div.centraTabla{
    text-align: center;
    }
div.centraTabla table {
    margin: 0 auto;
    text-align: left;
     }    